#unfollow-button{
    position: relative;
    left: 240px;
    top: -0px;
    width: 80px;
    
}

#follow-button{
    position: relative;
    width: 80px;
    left: 240px;
    top: -0px  
}

.user-profile-header{
    position: relative;
    bottom: -40px;
    right:16px;
    padding-left: .75rem;
    font-family: Poppins;
    font-weight: 600;
                       
}

.user-profile-back-button{
    position: relative;
    font-family: Roboto;
    right: 10px;
    top: -90px;
    font-size: 16px;
    
}


    
