

    /* .row {
    border: 2px solid rgb(215, 38, 194);
  }  
   .col {
    border: 1px solid rgb(39, 168, 82);
  }   */


/* Navigation bar. */

.flash-msg{
    
}
  
.navbar {
    top: 30%;
    margin-bottom: 7.5%;
    margin-top: 8%;
    margin-left: 1.5%;
    
      
}

.nav-item {
    
    padding-left: 4rem;
    font-family: Roboto;
    
    
}


/* Search Forms. */
#search-user-name {
    font-size: 14px;
    padding-left: .60rem;
    padding-top: .60rem;
    padding-bottom: .60rem;
    font-family: Roboto;
    width: 936%;
}

#search-button { 
    background: rgb(6, 203, 163);
    border-color: #06cba3;
    color: var(--bs-heading-color,inherit)
}

/* Forms. */

.status-form form {
    background-color: rgb(250, 250, 250);
    padding-top: .75rem;
    padding-bottom: .75rem;
    box-shadow: 5px 5px 10px rgb(224, 223, 223);
    
   
}

.post-status-header {
    padding-left: .60rem;
    font-family: Poppins;
    font-weight: 600; 
}

.mood-label {
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    padding-left: .75rem;
}

#mood-select {
    
    padding: .3rem;
    font-weight: 400;
    width: 150px;
    font-family: Roboto;
    border-radius: 5px; 
    }

.description-label {
    padding-left: .75rem;
    font-size: 16px;
    padding-top: 1rem;
    padding-bottom: .3rem;
    font-weight: 400;
    font-family: Poppins;
    
}



/* status description box. */
.form-floating{
    
    padding-left: .75rem; 
}

.my-textarea{
    height: 80px;
    width: 600px;
    font-family: Roboto;
    border-radius: 5px;
    padding-left: .75rem; 
}

#status_description::placeholder {
    font-size: 14px;
    font-family: Roboto;
}




.help-block {
    
    font-size: 14px;
    font-family: Roboto;
    padding-left: .75rem;
    color: rgb(163, 109, 109)
    
}

.post-container {
    padding-left: .75rem;
    padding-bottom: .60rem;
    padding-top: .75rem;
    
}

#post-button{
    
    width: 77px;
    height: 38px;
    bottom: 10px;
    background: rgb(6, 203, 163);
    border-color: #06cba3;
    color: var(--bs-heading-color,inherit)
       
}




/* Profile page status form. */

.your-status-header{
    position: relative;
    padding-left: .75rem;
    font-family: Poppins;
    font-weight: 600;
    padding-top: 2.5rem;
    padding-bottom: .1rem;
    right: 15px;
}

.your-followers-header{
    position: relative;
    padding-left: .75rem;
    padding-bottom: .1rem;
    font-family: Poppins;
    font-weight: 600;
    right: 15px;
}



