.Login-image{
    position: relative;
    top: 30%;
}

.welcome-header{
    position: relative;
    font-size: 45px;
    margin-left: 9.5%;
    top: -150px;
    flex: wrap;

}

/* .community-header{
    position: relative;
    font-size: 45px;
    margin-left: 12%;
    top: -120px;
    flex: wrap;
}  */



/* .image-container {
    margin-top: 120px;
    
} */

/* #beach{
    display: flex;
    margin-top: 40%;
    margin-left: 2%;
    max-width: 300px;
    max-height: 300px; 
    border-color: antiquewhite; 
}

#cap{
    display: flex;
    padding-bottom: 100px;
    margin-left: 8%;
    max-width: 300px;
    max-height: 300px;
    border-color: antiquewhite;
}



#forest{
    display: flex;
    padding-top: 540px;
    margin-left: 2%;
    max-width: 300px;
    max-height: 300px;
    border-color: antiquewhite; 
} */

#sand {
    position: relative;
    float: right;
    margin-top: -20%;
    padding-left: 10px;
    width: 40%;
    z-index: 0;
    

}


#beach {
    position: relative;
  
    float: right;
    margin-top: 2%;
    margin-left: 40%;
    padding-left: 28px;
    width: 42%;
    z-index: 0;  

}



#cap {
    position:  relative;
    float: right;
    margin-top: 2%;
    padding-left: 10px;
    width: 40%;
    z-index: 0;
   
}



/* .landing-logo {
    position: absolute;
    padding-bottom: 34px;
    right: 60px;
    bottom: 18px;
    z-index: 1;                   
} */


.feel-label{
    position: absolute;
    
    margin-top: -10%;
    height: 5%;
    margin-left: 77.5%;
    z-index: 2;
    font-family: poppins;
    color: rgb(248, 245, 245);
          
}

.express-label{
    position: absolute;
    margin-top: 17%;
    height: 5%;
    margin-right: 16%;
    margin-left: 74.5%;
    z-index: 2;
    font-family: poppins;
    color: rgb(248, 245, 245);
    
      
}

.share-label{
    position: absolute;
    margin-top: 40.5%;
    height: 5%;
    margin-right: 15%;
    margin-left: 76%;
    z-index: 2;
    font-family: poppins;
    color: rgb(248, 245, 245);
   
      
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.my-api-class {
    position: relative;
    font-family: poppins;
    z-index: 999;
    bottom: 680px;
    left: 84px;
    font-size: 16px;
    color: rgb(6, 203, 163);
  }

  .login-form-container{
    position: relative;
    margin-top: -8%;
    margin-left: 9%
    
   /* flex-direction:column;  */
    
   }

  .form-control{
    width: 300px;
    left: 20px;
    
  }

    .create-account-form-container{
    position: relative;
    margin-top: 5%;
    margin-left: 15%
  } 

  header.sign-up-header h2{
    position: relative;

    margin-top: -5%;
    margin-left: 15%
    
    
  }

  /* .case-sensitive{
    margin: 10px 0;
    font-family: roboto;
    font-size: 13px;
    margin-left: 10%;
    margin-top: -30%;
  } */
  