.Login-image{
    position: relative;
    top: 30%;
}




#sand {
    position: relative;
    float: right;
    margin-top: -20%;
    padding-left: 10px;
    width: 40%;
    z-index: 0;
    

}


#beach {
    position: relative;
  
    float: right;
    margin-top: 2%;
    margin-left: 40%;
    padding-left: 28px;
    width: 42%;
    z-index: 0;  

}



#cap {
    position:  relative;
    float: right;
    margin-top: 2%;
    padding-left: 10px;
    width: 40%;
    z-index: 0;
   
}




.feel-label{
    position: absolute;
    
    margin-top: -10%;
    height: 5%;
    margin-left: 77.5%;
    z-index: 2;
    font-family: poppins;
    color: rgb(248, 245, 245);
          
}

.express-label{
    position: absolute;
    margin-top: 17%;
    height: 5%;
    margin-right: 16%;
    margin-left: 74.5%;
    z-index: 2;
    font-family: poppins;
    color: rgb(248, 245, 245);
    
      
}

.share-label{
    position: absolute;
    margin-top: 40.5%;
    height: 5%;
    margin-right: 15%;
    margin-left: 76%;
    z-index: 2;
    font-family: poppins;
    color: rgb(248, 245, 245); 
      
}



.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.my-api-class {
    display: left !important;
    position: relative;
    font-family: poppins;
    z-index: 999;
    bottom: 960px;
    left: 87px;
    font-size: 18px;
    color: rgb(6, 203, 163);
  }


  .welcome-header{
    position: relative;
    font-weight: 400;
    font-family: poppins;
    font-size: 45px;
    margin-left: 9.5%;
    top: -170px;
    flex: wrap;

}

  .login-form-container{
    position: relative;
    font-family: poppins;
    z-index: 800;
    margin-top: -10%;
    margin-bottom: 0%;
    margin-left: 9%  
}

.secondary-login{
    border-color: rgb(6, 203, 163);
    color: rgb(6, 203, 163);
    font-weight: 600;
    margin-left: 85%;
    margin-top: -50%;
    font-family: Roboto;
}

.secondary-signup{
    border-color: rgb(6, 203, 163);
    color: rgb(6, 203, 163);
    font-weight: 600;
    margin-left: 75%;
    margin-top: -55%;
    font-family: Roboto;
}

    
.card-header{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0px;
}

    

  .form-control{
    width: 300px;
    left: 23px;
    
    
  }

    .create-account-form-container{
        position: relative;
        bottom: 80px;
        font-family: poppins;
        
        margin-left: 9%
       
  } 

  header.sign-up-header h2{
    display: inline-block;
    font-weight: 200;
    margin-left: 2%       
  } 

  header.login-header h2{
    font-weight: 200;
  }



  .custom-submit-btn {
    background-color:rgb(6, 203, 163);
    margin-bottom: 25%;
    display: left !important;
    font-family: roboto;

  }

   .custom-login-btn {
    background-color:rgb(6, 203, 163);
    margin-bottom: -12%;
    font-family: roboto;
    
    
  }

  form {
    display: grid;
    grid-template-rows: repeat(3, 5.2rem);
}


  
  