
{% extends 'base.html' %}
{% block title %}All Status Posts{% endblock %}


{% block body %}
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="whole-page-font">

<link rel="stylesheet"
        href="/static/css/forms.css">

<div class="whole-page"> 
<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/profile">My profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/following">Following</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/status_posts">All status posts</a>
    </li>
  </ul>
</nav>



<br>
<br> 
 
<div class="container">
<form class="d-flex" method="GET" action="/search_status_posts">
  <label for="user_handle"></label>
  <input class="form-control me-2" type="text" id="user_handle" name="user_handle" placeholder="Search statuses by username..." aria-label="Search">
  <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>
</div>

<br>




<div class="status-form container">

<header class='post-status-header' >
<h4>Post a new status</h4>
</header>

<form action="/profile" method="POST">
  <label for="mood-select" class="mood-label">Choose your mood:</label>

<label class="visually-hidden" for="autoSizingSelect">Preference</label>
<select name="mood" id="mood-select">
  <option value="happy">Happy</option>
  <option value="sad">Sad</option>
</select>
<br>

<label for="status_description" class="description-label" >Description:</label>

<div class="form-floating"> 
  <textarea class="my-textarea" type="text" name="description" id="status_description" placeholder="Express your feelings..." onkeyup="countChar(event)" maxlength="255"></textarea>
</div>

  <span class="help-block">Please keep status post length under 255 characters.</span>
  <br>

  <div class="post-container" >
  <button class="btn btn-primary" id='post-button' type="submit">Post</button>
</div>

  

</form>
</div>




<br>
<br>

<div class="all-statuses container">

  
{% for status_post in status_posts|reverse %}
<div class="one-status container">

  <a href="/users/{{ status_post.user_id }}">
    <h2>{{ status_post.user.user_handle }}</h2>
  </a>
  <p>
    {{ status_post.mood.mood_type }}
    {{ status_post.status_description }}
    {{ status_post.post_create_date }}

  </p>

  <div class="comments">
  {% for comment in status_post.comments %}
  <p>
    {{ comment.user.user_handle }}
    {{ comment.comment_description }}
    {{ comment.post_create_date }}
  
   
    <form action="{{ url_for('delete_comment',
    comment_id=comment.comment_id) }}" method="post">
      <input type="submit" value="Delete">
    </form>
  
  </p>

  {% endfor %}
</div>



<div> 
<h3>Add a comment</h3>
<div class="form-group">
<form id="comment-form" method="post" action="/post_a_comment">
  <input hidden="true" id="status-id" name="status-id" value={{ status_post.status_id }}>
  <label for="comment-description">Description:</label>
  <input type="text" id="comment-description" name="comment-description"
  onkeyup="countChar(event)" maxlength="255" />
  <span class="help-block">Please keep comment length under 255 characters.</span>
</div>


  <button id="comment-button" class="btn btn-primary mt-2">Post</button>

</form>
</div>

</div>

{% endfor %}
</div>
</div>



{% endblock body %}










  

