{% extends 'base.html' %}
{% block title %}Following{% endblock %}

{% block body %}
    {% for user in followed %}
    <a href="/users/{{ user.user_id }}">
        <h2>{{ user.user_handle }}</h2>
      </a>
        
        {% for status in user.status_posts %}
            <p>{{ status.mood.mood_type }}
               {{ status.status_description }}
		       {{ status.post_create_date }}
            </p>

        {% for comment in status.comments %}
        <p>
          {{ comment.comment_description }}
          {{ comment.post_create_date }}
         
        </p>
  
        {% endfor %}
        <h3>Post a new comment</h3>
<form id="comment-form" method="post" action="/post_a_comment">
  <input hidden="true" id="status-id" name="status-id" value={{ status.status_id }}>
  <label for="comment-description">Description:</label>
  <input type="text" id="comment-description" name="comment-description">

  <button id="comment-button" class="btn btn-primary mt-2">Post</button>

</form>

        {% endfor %}

    {% endfor %}
    {% if not followed %}
        <p>Currently not following any users</p>
    {% endif %}
{% endblock %}









