{% extends 'base.html' %}
{% block title %}Following{% endblock %}



{% block body %}

<div class="container"> 

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/profile">My profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/following">Following</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/status_posts">All status posts</a>
  </li>
</ul>
  </nav>
  </div>


    {% for user in followed %}
    <a href="/users/{{ user.user_id }}">
        <h2>{{ user.user_handle }}</h2>
      </a>
        
        {% for status in user.status_posts|reverse %}
            <p>{{ status.mood.mood_type }}
               {{ status.status_description }}
		       {{ status.post_create_date }}
            </p>

        {% for comment in status.comments %}
        <p>
          {{ comment.user.user_handle }}
          {{ comment.comment_description }}
          {{ comment.post_create_date }}

          <form action="{{ url_for('delete_comment',
    comment_id=comment.comment_id) }}" method="post">
      <input type="submit" value="Delete">
    </form>
         
        </p>
  
        {% endfor %}
        <h3>Add a comment</h3>
<form id="comment-form" method="post" action="/post_a_comment">
  <input hidden="true" id="status-id" name="status-id" value={{ status.status_id }}>
  <label for="comment-description">Description:</label>
  <input type="text" id="comment-description" name="comment-description"
  onkeyup="countChar(event)" maxlength="255" />
  <span class="help-block">Please keep comment length under 255 characters.</span>


  <button id="comment-button" class="btn btn-primary mt-2">Post</button>

</form>

        {% endfor %}

    {% endfor %}
    {% if not followed %}
        <p>Currently not following any users</p>
    {% endif %}
{% endblock %}









