
{% extends 'base.html' %}
{% block title %}Mpath Home{% endblock %}
{% block head %}

<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<link rel="stylesheet"
        href="/static/css/forms.css">

<link rel="stylesheet"
        href="/static/css/post.css">

<link rel="stylesheet"
        href="/static/css/landing.css">


<link rel="stylesheet" 
        href="node_modules/bootstrap-icons/bootstrap-icons.css" />

      
{% endblock %}



{% block body %}

<!-- <nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav> -->



<header class="welcome-header">
  Welcome!
</header>

 <!-- <header class="community-header">
  community!
</header>  -->

<!-- 
  <ul>
    <li><a href="/login">Login or Create an account</a></li>
  </ul> -->

 


  

 
  
  
      <header class="feel-label">
        <h1>Feel.</h1>
      </header>

      <header class="express-label">
        <h1>Express.</h1>
      </header>
       
      <header class="share-label">
        <h1>Share.</h1>
      </header> 

      <div class="image-container">
      <img src="/static/images/sand.jpg" class="img-fluid" alt="sand" id="sand">
    

      <img src="/static/images/beach.jpg" class="img-fluid" alt="beach" id="beach">

      <img src="/static/images/cap.jpg" class="img-fluid" alt="cap" id="cap">
    </div>



  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
  {% endfor %}

<div class="login-form-container">
  <div class="row">
    <div class="col">
  
    <header class="login-header">
    <h2>Login</h2>
    </header>

    

    <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
    </form>
  </div>
</div>
</div>


<div class="create-account-form-container">
  <div class="row">
    <div class="col">


    <header class="sign-up-header">
    <h2>Sign up</h2>
    </header>
    
    
    <form action="/users" method="POST">

    <p>
      Username <input type="text" name="user_handle">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
    </form>
  </div>
</div>
</div>


<!-- <p class="case-sensitive">Usernames, emails and passwords are case 
<br>sensitive to better protect your login information.</p> -->











      <label id="author-label" class="my-api-class"> 
      </label>
    
      <label id="quote-label" class="my-api-class"> 
      </label>
    
    
      <script> const apiKey = "{{ API_KEY }}"; </script>
      <script src="/static/api_call.js"></script>
      
{% endblock %}





