{% extends 'base.html' %}
{% block title %}Your profile{% endblock %}


{% block body %}
<h1>Post a new status</h1>
<form action="/profile" method="POST">
  <label for="mood-select">Choose your mood:</label>
<select name="mood" id="mood-select">
  <option value="happy">Happy</option>
  <option value="sad">Sad</option>
</select>
  <label for="status_description">Description:</label>
  <input type="text" name="description" id="status_description">
  <br>

  <button type="submit">Post</button>

</form>
<div class=page>
<h2>Your statuses</h2>
<ul class="statuses">
{% for status_post in status_posts %}
  <li>
    {{ status_post.user.user_handle }}
    {{ status_post.mood.mood_type }}
    {{ status_post }}
    <form action="{{ url_for('delete_status',
    status_id=status_post.status_id) }}" method="post">
      <input type="submit" value="Delete">
    </form>
  </li>

  {% for comment in status_post.comments %}
  <p>
    {{ comment.comment_description }}
    {{ comment.post_create_date }}
   
  </p>

  {% endfor %}
  
{% endfor %}
</ul>
</div>
{% endblock body %}
