{% extends 'base.html' %}
{% block title %}Profile {% endblock %}


{% block body %}
<div class="container"> 

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul>
  <a href="/following">Back</a>
   
  </ul>
  </nav>
  </div>

{% if is_following %}
<form id="unfollow-form" method="post" action="/unfollow">
    <input hidden="true" id="unfollow-user-handle" name="unfollow_user_handle" value= {{ user_handle }}>
    <button id="unfollow-button" class="btn btn-primary mt-2">Unfollow</button>
</form>

{% else %}
<form id="follow-form" method="post" action="/follow">
    <input hidden="true" id="follow-user-handle" name="follow_user_handle" value= {{ user_handle }}>
    <button id="follow-button" class="btn btn-primary mt-2">Follow</button>
</form>
{% endif %}



    {% for status_post in status_posts|reverse %}
    
    <h2>{{ status_post.user.user_handle }}</h2>
      <li>
        {{ status_post.mood.mood_type }}
        {{ status_post }}
      </li>

      {% for comment in status_post.comments %}
        <p>
          {{ comment.user.user_handle }}
          {{ comment.comment_description }}
          {{ comment.post_create_date }}
         
        </p>

    
    {% endfor %}
    {% endfor %}
{% endblock body %}
